In [1]:
import pyspark
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.master("local[1]")\
          .appName("task4")\
          .getOrCreate()

In [3]:
input = """
+---+------------------+-----+
| id|              Col1| Col2|
+---+------------------+-----+
|  1|     one,two,three|  one|
|  2|     four,one,five|  six|
|  3|seven,nine,one,two|eight|
|  4|    two,three,five| five|
|  5|      six,five,one|seven|
+---+------------------+-----+
"""

In [4]:
df_list = input.split("\n")

In [5]:
df_list.pop(0)
df_list.pop(0)
df_list.pop()
df_list.pop()

'+---+------------------+-----+'

In [6]:
df_list

['| id|              Col1| Col2|',
 '+---+------------------+-----+',
 '|  1|     one,two,three|  one|',
 '|  2|     four,one,five|  six|',
 '|  3|seven,nine,one,two|eight|',
 '|  4|    two,three,five| five|',
 '|  5|      six,five,one|seven|']

In [7]:
def parse_columns(input_list):
    col_list = df_list[0].split("|")
    col_list.pop(0)
    col_list.pop()

    for i, elem in enumerate(col_list):
        col_list[i] = elem.strip()

    return col_list

In [8]:
col_list = parse_columns(df_list)

In [14]:
col_list

['id', 'Col1', 'Col2']

In [9]:
df_list.pop(0)
df_list.pop(0)

'+---+------------------+-----+'

In [10]:
df_list

['|  1|     one,two,three|  one|',
 '|  2|     four,one,five|  six|',
 '|  3|seven,nine,one,two|eight|',
 '|  4|    two,three,five| five|',
 '|  5|      six,five,one|seven|']

In [21]:
def parse_values(df_list):
    values_list = []
    for line in df_list:
        print(line)
        val_line = df_list[0].split("|")
        
        for i, elem in enumerate(val_line):
            val_line[i] = elem.strip()

        val_line.pop()
        val_line.pop(0)

        print(val_line)

        values_list.append(val_line)

    return values_list

In [22]:
value_list = parse_values(df_list)

|  1|     one,two,three|  one|
['1', 'one,two,three', 'one']
|  2|     four,one,five|  six|
['1', 'one,two,three', 'one']
|  3|seven,nine,one,two|eight|
['1', 'one,two,three', 'one']
|  4|    two,three,five| five|
['1', 'one,two,three', 'one']
|  5|      six,five,one|seven|
['1', 'one,two,three', 'one']

In [18]:
value_list

[['1', 'one,two,three', 'one'],
 ['1', 'one,two,three', 'one'],
 ['1', 'one,two,three', 'one'],
 ['1', 'one,two,three', 'one'],
 ['1', 'one,two,three', 'one']]

In [16]:
outputDf = spark.createDataFrame(data=value_list, schema = col_list)

In [17]:
outputDf.show()

+---+-------------+----+
| id|         Col1|Col2|
+---+-------------+----+
|  1|one,two,three| one|
|  1|one,two,three| one|
|  1|one,two,three| one|
|  1|one,two,three| one|
|  1|one,two,three| one|
+---+-------------+----+